button { 
    width: 100%; 
    height: 100%; 
    font-size: 5em !important; 
    transition: .5s;
    color: white;
    background-color: #9FA6B2;

}

.btn-x{
    background-color: #14A44D;
}
.btn-x:hover{
    background-color: #338b57;
}
.btn-o{
    background-color: #DC4C64
}
.btn-o:hover{
    background-color: #bd3e53

}