main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    margin: auto auto ;

}
  
app-square {
    border: 1px gray solid;
    height: 200px;
    z-index: 20;
}
.newGame{
    color: #fff;
    background-color: #3B71CA;
    border-radius: 2rem;
    margin-bottom: 10px;
    border-color: rgb(148, 148, 148);
    height: 40px;
    transition: 0.5s;
    scale: 1.2;
}
.newGame:hover{
    background-color: #2c5392;

}
.main-board{
    display: flex;
}
.text-board{
    color: #fff;
    display: block;
    margin: auto auto ;
    text-align: center;
}
h1{
    margin-top: 0;
    padding: 10px;
}
