main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    margin: auto auto ;

}
  
app-square {
    border: 1px gray solid;
    height: 200px;
}
.newGame{
    color: #fff;
    background-color: rgb(149, 70, 180);
    border-radius: 1rem;
    margin-bottom: 10px;
    border-color: rgb(83, 43, 226);
    height: 40px;
    transition: 0.5s;
}
.newGame:hover{
    background-color: rgb(83, 43, 226);

}
.main-board{
    /* margin: auto auto ;
    align-items: center; */
    display: flex;
}
.text-board{
    display: block;
    margin: auto auto ;
    text-align: center;
}